@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src: local('Ubuntu'), url('/assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 500;
    src: local('Ubuntu'), url('/assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    font-weight: 700;
    src: local('Ubuntu'), url('/assets/fonts/Ubuntu-Bold.ttf');
}

@keyframes switchSteps {
    0% {
        translate: 0 1.25rem;
        opacity: 0;
    }
    100% {
        translate: 0;
        opacity: 1;
    }
}


:root {
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    --cool-gray: hsl(231, 11%, 63%);
    --cool-gray-25: hsla(231, 11%, 63%, 25%);
    --cool-gray-15: hsla(231, 11%, 63%, 15%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Ubuntu';
    font-size: 1rem;
    line-height: 1.5;
}

h2 {
    color: var(--marine-blue);
    font-size: 1.625rem;
}

h3 {
    color: var(--marine-blue);
    font-size: 1.1rem;
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

.desktop {
    display: none;
}

.yearly {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    pointer-events: none;
    transition: .25s;
}

.yearly.active {
    grid-template-rows: 1fr;
    opacity: 1;
    pointer-events: all;
}

.yearly > * {
    overflow: hidden;
}

.billingChange {
    display: none;
}

.billingChange.active {
    display: block;
}

button:disabled {
    opacity: .5;
}

.invalid {
    border: 2px solid var(--strawberry-red)!important;
}

body {
    padding: 2.5rem 0 7.5rem;
    min-height: 100vh;
    position: relative;
    background: var(--magnolia);
}

body > div.desktopWrapper {
    display: grid;
    grid-auto-rows: min-content;
    gap: 2.5rem;
}

div.desktopNav > img:first-of-type {
    position: absolute;
    top: 0;
    z-index: -1;
}

div.desktopNav > img:last-of-type {
    display: none;
}

div.desktopNav > nav {
    margin-inline: auto;
    width: 90%;
    max-width: 12.5rem;
    display: flex;
    justify-content: space-between;
}

nav > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav > div > button {
    height: 2.25rem;
    aspect-ratio: 1;
    background: transparent;
    border: 2px solid var(--alabaster);
    border-radius: 50%;
    color: var(--alabaster);
    font-weight: 700;
    transition: .25s;
}

nav > div > button.active {
    background: var(--light-blue);
    border-color: var(--light-blue);
    color: var(--marine-blue);
}

nav > div > div > p:first-of-type {
    color: var(--light-gray);
    font-size: .7rem;
    line-height: 1.25;
    opacity: .5;
}

nav > div > div > p:last-of-type {
    color: var(--white);
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.25;
}

div.desktopForm > form {
    height: 100%;
}

form > fieldset {
    padding: 2rem 1.625rem;
    margin-inline: auto;
    max-width: 30rem;
    width: 90%;
    display: none;
    gap: 1rem;
    background: var(--white);
    border-radius: .75rem;
    box-shadow: .1rem .1rem 1rem 0 var(--cool-gray-25);
}

form > fieldset.active {
    display: grid;
    animation: switchSteps .25s forwards;
}

fieldset > .info {
    display: grid;
    gap: .5rem;
}

.info > p {
    color: var(--cool-gray);
    font-size: 1.1rem;
}

fieldset > .inputs {
    display: grid;
    gap: .5rem;
}

.inputs > div {
    display: grid;
}

.inputs > div > .label {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.inputs > div > .label > label {
    color: var(--marine-blue);
    font-size: .825rem;
    font-weight: 500;
}

.inputs > div > .label > p {
    color: var(--strawberry-red);
    font-size: .825rem;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s;
}

.inputs > div.active > .label > p {
    opacity: 1;
}

.inputs > div > .label + input {
    padding: .5rem 1rem;
    border: 2px solid var(--light-gray);
    border-radius: .25rem;
    color: var(--cool-gray);
    font-weight: 500;
    transition: border-color .25s;
}

.inputs > div > .label + input:focus:not(.invalid) {
    border: 2px solid var(--purplish-blue);
}

.inputs > .selectField {
    padding: 1.25rem;
    width: 100%;
    position: relative;
    display: flex;
    gap: 1rem;
}

.inputs > .selectField > input {
    position: absolute;
    inset: 0;
    border: 2px solid var(--light-gray);
    border-radius: .5rem;
    appearance: none;
}

.inputs > .selectField > input:checked {
    border-color: var(--purplish-blue);
}

.inputs > .selectField > div > p {
    color: var(--cool-gray);
    font-size: .9rem;
}

.inputs > .selectField > div > div > p {
    color: var(--marine-blue);
    font-size: .8rem;
    font-weight: 500;
}

.switchBilling {
    padding: 1rem;
    display: flex;
    justify-content: center;
    background: var(--alabaster);
}

.switchBilling > div {
    width: 2.325rem;
    aspect-ratio: 7/4;
    position: relative;
    display: flex;
    align-items: center;
    background: var(--marine-blue);
    border-radius: 100rem;
}

.switchBilling > div::before {
    content: 'Monthly';
    position: absolute;
    right: calc(100% + 1.5rem);
    color: var(--marine-blue);
    font-weight: 500;
    transition: color .25s;
}

.switchBilling.active > div::before {
    color: var(--cool-gray);
}

.switchBilling > div::after {
    content: 'Yearly';
    position: absolute;
    left: calc(100% + 1.5rem);
    color: var(--cool-gray);
    font-weight: 500;
    transition: color .25s;
}

.switchBilling.active > div::after {
    color: var(--marine-blue);
}

.switchBilling > div > input {
    position: absolute;
    inset: 0;
    appearance: none;
}

.switchBilling > div > input:checked {
    display: none;
}

.switchBilling > div > div {
    position: absolute;
    inset: .25rem;
    height: calc(100% - .5rem);
    aspect-ratio: 1;
    background: var(--white);
    border-radius: 50%;
    pointer-events: none;
    transition: left .25s;
}

.switchBilling.active > div > div {
    left: calc(100% - (100% / 7 * 4 - .5rem) - .25rem);
}

.inputs > .checkField {
    padding: .75rem 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.inputs > .checkField > div {
    display: flex;
    gap: 1rem;
}

.inputs > .checkField > div > input {
    appearance: none;
}

.inputs > .checkField > div > label {
    margin: auto auto auto -1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    place-items: center;
    background: transparent;
    border: 2px solid var(--light-gray);
    border-radius: .25rem;
}

.inputs > .checkField > div > input:checked + label {
    background: var(--purplish-blue);
    border-color: var(--purplish-blue);
}

.inputs > .checkField > div > label::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid var(--light-gray);
    border-radius: .5rem;
}

.inputs > .checkField > div:hover > label::before {
    border-color: var(--purplish-blue);
}

.inputs > .checkField > div > input:checked + label::before {
    border-color: var(--purplish-blue);
}

.inputs > .checkField > div > input:checked + label::after {
    content: '';
    margin-top: -.25rem;
    width: .55rem;
    height: .25rem;
    display: block;
    border: 2px solid var(--white);
    border-width: 0 0 3px 3px;
    rotate: -45deg;
}

.inputs > .checkField > div > div > h3 {
    font-size: 1rem;
}

.inputs > .checkField > div > div > p {
    color: var(--cool-gray);
    font-size: .9rem;
}

.inputs > .checkField > p {
    color: var(--purplish-blue);
    font-size: .9rem;
}

fieldset > .summary {
    padding: 1rem;
    display: grid;
    gap: .75rem;
    background: var(--alabaster);
}

.summary > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary > div > div > p {
    color: var(--marine-blue);
    font-weight: 500;
}

.summary > div > div > button {
    color: var(--cool-gray);
    background: none;
    text-decoration: underline;
}

.summary > div > div > button:hover {
    color: var(--purplish-blue);
}

.summary > div > p {
    color: var(--marine-blue);
    font-weight: 700;
}

.summary > hr {
    display: none;
    width: 100%;
    height: 1px;
    background: var(--light-gray);
}

.summary > hr.active {
    display: block;
}

.summary > hr ~ div > p:first-of-type {
    color: var(--cool-gray);
    font-weight: 400;
}

.summary > hr ~ div > p:last-of-type {
    font-weight: 500;
}

.summary > hr.insertDivs{
    position: absolute;
}

fieldset > .total {
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
}

.total > p:first-of-type {
    color: var(--cool-gray);
}

.total > p:last-of-type {
    color: var(--purplish-blue);
    font-weight: 700;
}

form > .submit {
    padding-block: 5rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form > .submit.active {
    display: flex;
}

.submit > div {
    display: grid;
    gap: .5rem;
    text-align: center;
}

.submit > div > p {
    color: var(--cool-gray);
}

div.desktopForm > .bottomNavigation {
    padding: 1.125rem;
    position: absolute;
    inset: auto 0 0;
    height: 5rem;
    background: var(--alabaster);
}

.bottomNavigation > div {
    margin-inline: auto;
    max-width: 30rem;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.bottomNavigation > div > button {
    padding: .25rem 1rem;
    height: 100%;
    font-weight: 500;
    transition: opacity .25s;
}

.bottomNavigation > div > button.goBackBtn {
    background: transparent;
    color: var(--cool-gray);
    transition: color .25s;
}

.bottomNavigation > div > button.goBackBtn:hover {
    color: var(--marine-blue);
}

.bottomNavigation > div > button.inactive {
    opacity: 0;
    pointer-events: none;
}

.bottomNavigation > div > button.nextBtn {
    background: var(--marine-blue);
    border-radius: .25rem;
    color: var(--alabaster);
    transition: filter .25s;
}

.bottomNavigation > div > button.nextBtn:hover {
    filter: brightness(1.5);
}

.bottomNavigation.active > div > button.nextBtn {
    display: none;
}

.bottomNavigation > div > button.submitBtn {
    display: none;
    background: var(--purplish-blue);
    border-radius: .25rem;
    color: var(--alabaster);
}

.bottomNavigation.active > div > button.submitBtn {
    display: block;
    transition: opacity .25s;
}

.bottomNavigation.active > div > button.submitBtn:hover {
    opacity: .75;
}

@media (min-width: 50rem) {
    .desktop {
        display: block;
    }

    body {
        padding: 1rem;
        display: grid;
        place-items: center;
    }

    body > div.desktopWrapper {
        padding: 1rem;
        max-width: 55rem;
        width: 90%;
        max-height: 35rem;
        height: 90%;
        display: flex;
        justify-content: space-between;
        gap: 0;
        background: var(--white);
        border-radius: .5rem;
        box-shadow: .1rem .1rem 1rem 0 var(--cool-gray-15);
    }

    div.desktopWrapper > div.desktopNav {
        padding: 2rem 1rem;
        width: 30%;
        position: relative;
        border-radius: .5rem;
        overflow: hidden;
        isolation: isolate;
    }

    div.desktopNav > img:first-of-type {
        display: none;
    }

    div.desktopNav > img:last-of-type {
        position: absolute;
        inset: 0;
        z-index: -1;
        display: block;
        object-fit: cover;
    }

    div.desktopNav > nav {
        display: grid;
        gap: 1.5rem;
    }

    div.desktopWrapper > div.desktopForm {
        width: 70%;
        padding-inline: 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    form > fieldset {
        padding-inline: 0;
        max-width: none;
        width: 100%;
        gap: 1.5rem;
        box-shadow: none;
    }

    form > fieldset#submit {
        height: 100%;
        justify-content: center;
    }

    .info > h2 {
        font-size: 1.75rem;
    }

    .info > p {
        font-size: 1rem;
    }

    fieldset > .inputs {
        gap: 1rem;
    }

    fieldset#secondStep > .inputs {
        grid-template-columns: repeat(3, 1fr);
    }

    .inputs > .selectField {
        display: grid;
        gap: 2.5rem;
    }

    .inputs > .checkField {
        padding: 1rem 1.25rem;
    }

    .total > p:last-of-type {
        font-size: 1.1rem;
    }

    div.desktopForm > div.bottomNavigation {
        padding-inline: 0;
        position: relative;
        background: none;
    }

    div.bottomNavigation > div {
        width: 100%;
    }
}

@media (min-width: 60rem) {
    div.desktopWrapper > div.desktopForm {
        padding-inline: 5rem;
    }
}